@font-face {
  font-family: 'Lab Mono';
  src:  url('assets/fonts/labmono-regular-web.woff2') format('woff2'),
        url('assets/fonts/labmono-regular-web.woff') format('woff');
}

body {
	font-family: 'Lab Mono', 'Courier', monospace;
}

h2 {
	font-weight: normal;
}

.cover-main img {
	width: 70px;
}

section.cover .cover-main > p:last-child a,
section.cover .cover-main > p:last-child a:last-child {
	border: none;
	background: none;
	color: inherit;
	text-decoration: underline;
}

section.cover ul {
	max-width: none;
}

.markdown-section ul,
.markdown-section ol {
	padding-left: 0;
}

.markdown-section ul {
	margin-left: -10px;
}

.markdown-section ul li {
	padding-left: 10px;
}
