@font-face {
  font-family: 'Lab Mono';
  src:  url('../assets/fonts/labmono-regular-web.woff2') format('woff2'),
  url('../assets/fonts/labmono-regular-web.woff') format('woff');
}

html, body {
  height: 100%;
  font-family: 'Lab Mono', 'Courier', monospace;
  margin: 0;
}

.input, .output {
  font-family: inherit;
  font-size: .8em;
  height: 100%;
  width: 100%;

  padding: 2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border: none;
  outline: none;

  -moz-tab-size : 4;
  -o-tab-size : 4;
  tab-size : 4;
}

.input {
  float: left;
  cursor:text;
}

.output {
  float: right;
  white-space: pre;
  overflow: scroll;
}

header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 2em;
}

input[type="radio"]:checked+label {
  text-decoration: underline;
}

input[type="radio"]+label {
  font-size: .9em;
  padding: 0 .5em 0 .2em;
  vertical-align: middle;
  white-space: nowrap;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]+label {
  cursor: pointer;
}

h2 {
  font-size:2em;
  font-weight: bold;
  margin-top: .4em;
  margin-bottom: .5em;
}

.light {
  background: #f6f5f5;
  color: #33313b;
}

.dark {
  background: #33313b;
  color: #f6f5f5;
}

div {
  display: inline-block;
  height: 100%;
  width: 50%;
}
